@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --starBuck--: #017143;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--starBuck--);
  clip-path: circle(600px at right 800px);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 40px;
  margin-left: 20px;
  text-decoration: none;
}
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
}
.content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 Span {
  color: var(--starBuck--);
  font-size: 1.2em;
  font-weight: 600;
}
.content .textBox p {
  color: #333;
}
.content .textBox a {
  display: inline-block;
  background: var(--starBuck--);
  color: #fff;
  margin-top: 20px;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content .imgBox {
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
  transform: rotate(-3deg);
}
.content .imgBox img {
  max-width: 400px;
}
.thumb img {
  width: 100%;
}
.thumb {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumb .thumbImg {
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
  max-width: 60px;
}
.thumb .thumbImg img {
  width: 100% !important;
}

.thumb .thumbImg:hover {
  transform: translateY(-15px);
}
.social {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social .socialImg {
  list-style: none;
}
.social .socialImg img {
  max-width: 50px;
}

.social .socialImg a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}