@import "mixins";

// Banking section

.digitalBanking {
  @include banner;
  flex: 1;
  width: 100%;
  height: 650px;
  background: $Grayish-Blue;
}

.dgtBankInfo {
  margin: auto 5% auto 10%;
  width: 35%;
}

.dgtBankInfo h1,
.chooseEbank h1 {
  font-size: $xxl-font-size;
  font-weight: 200;
  color: $Dark-Blue;
}

.text-muted {
  color: $Grayish-Blue;
  line-height: 30px;
  font-size: 16px;
  font-weight: lighter;
}

.dgtBankInfo #requestBtn {
  margin: 25px 0;
}

.dgtBankImg {
  background: url("./images/bg-intro-desktop.svg");
  background-position: 12% 75%;
  width: 50%;
  height: 650px;
}

.dgtBankImg img {
  width: 100%;
  height: 850px;
  overflow: auto !important;
  object-position: 100px -100px;
  object-fit: cover;
}

// choose bank section
.chooseEbank {
  padding: 5% 10%;
  background: $Very-LightGray;
}

.easyBank {
  @include banner;
  padding: 5% 0;
}

.easyBank h1 {
  font-size: 24px;
  margin: 40px 0;
  color: $Dark-Blue;
}

.easyBank div {
  width: 23%;
}

.articles {
  background: $Very-LightGray;
  padding: 5% 10%;
}

.articles h1 {
  color: $Dark-Blue;
  font-weight: 300;
}

.articlesList {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row nowrap;
  padding: 30px 0;
}

.latestArticles {
  width: 24%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px 10px 0 0;
  background: $White;
  overflow: hidden;
}

.latestArticles img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0; //top bottom right left
}

.latestArticles div {
  padding: 20px 25px;
}

.latestArticles div a {
  color: $Dark-Blue;
  font-weight: lighter;
  font-size: 17px;
  text-decoration: none;

  &:hover {
    color: $Lime-Green;
  }
}

.authorMuted {
  color: $Grayish-Blue;
  margin: 5px;
  font-size: 10px;
}

.latestArticles .text-muted {
  line-height: 20px;
  font-size: $sm-font-size;
  text-align: justify;
}
