@media screen and (max-width: 425px) {
  .container {
    position: relative;
  }

  .topHeader {
    padding: 25px 0;
  }

  .navigation,
  .topHeader #requestBtn {
    display: none;
  }

  .navToggler {
    display: block;
  }

  .display {
    display: block;
    color: $Grayish-Blue;
  }

  .hide {
    display: none;
    color: $Grayish-Blue;
  }

  .mobileNav {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .wrapper {
    width: 100%;
    height: calc(100% - 74px);
    background: rgba(0, 0, 0, 0.5);
    padding: 10% 5%;
  }

  .display {
    display: block;
  }

  .mobileNav ul {
    flex-flow: column nowrap;
    background: $White;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }

  .mobileNav li {
    width: 100%;
    text-align: center;
  }

  .nlink {
    text-decoration: none;
    text-align: center;
    color: $Grayish-Blue;
    display: block;
    padding: 15px;
    font-size: 18px;
  }

  .nlink.active {
    color: $Black;

    &:hover {
      color: $Black;
    }
  }

  .overflow {
    overflow: hidden;
  }

  .digitalBanking {
    flex-flow: column nowrap;
    justify-content: center;
    height: auto;
  }

  .dgtBankImg {
    order: -1;
  }

  .dgtBankInfo {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
  }

  .dgtBankInfo h1 {
    font-size: 40px;
    font-weight: 200;
    color: $Dark-Blue;
  }

  .dgtBankImg {
    background: url("./images/bg-intro-mobile.svg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 350px;
    padding: 0 10px;
  }

  .dgtBankImg img {
    width: 100%;
    height: 470px;
    object-position: center -120px;
    object-fit: cover;
  }

  .chooseEbank {
    text-align: center;
  }

  .easyBank {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
  }

  .easyBank h1 {
    margin: 20px 0;
  }

  .easyBank div {
    width: 95%;
    margin: 20px 0;
  }

  .articlesList {
    justify-content: center;
    flex-flow: column nowrap;
    padding: 15px 0;
  }

  .latestArticles {
    width: 100%;
    margin-bottom: 20px;
  }

  .footerList {
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 40px 0;
  }

  .footerDiv {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footerDiv:last-child {
    align-items: center;
    width: 100%;
  }

  .footerDiv a {
    padding: 15px 0;
  }

  .socialLinks {
    margin: 30px 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .container {
    position: relative;
  }

  .topHeader {
    padding: 25px 0;
  }

  .navigation,
  .topHeader #requestBtn {
    display: none;
  }

  .navToggler {
    display: block;
  }

  .display {
    display: block;
    color: $Grayish-Blue;
  }

  .hide {
    display: none;
    color: $Grayish-Blue;
  }

  .mobileNav {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .wrapper {
    width: 100%;
    height: calc(100% - 74px);
    background: rgba(0, 0, 0, 0.5);
    padding: 10% 5%;
  }

  .mobileNav ul {
    flex-flow: column nowrap;
    background: $White;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }

  .mobileNav li {
    width: 100%;
    text-align: center;
  }

  .nlink {
    text-decoration: none;
    text-align: center;
    color: $Grayish-Blue;
    display: block;
    padding: 15px;
    font-size: 18px;
  }

  .nlink.active {
    color: $Black;
  }

  .nlink:hover {
    color: $Black;
  }

  .overflow {
    overflow: hidden;
  }

  .digitalBanking {
    flex-flow: column nowrap;
    justify-content: center;
    height: auto;
    margin-bottom: 50px;
  }

  .dgtBankImg {
    order: -1;
  }

  .dgtBankInfo {
    margin: -70px auto 0;
    width: 75%;
    text-align: center;
    padding: 10px;
  }

  .dgtBankInfo h1 {
    font-size: 40px;
  }

  .dgtBankImg {
    background: url("./images/bg-intro-mobile.svg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 0 10px;
  }

  .dgtBankImg img {
    width: 100%;
    height: auto;
    object-position: center -120px;
    object-fit: cover;
  }

  .chooseEbank {
    text-align: center;
    padding: 5% 15%;
  }

  .chooseEbank h1 {
    font-size: 40px;
  }

  .easyBank {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  .easyBank h1 {
    font-size: 25px;
    margin: 20px 0;
  }

  .easyBank div {
    width: 100%;
    margin: 20px 0;
  }

  .articles {
    padding: 5% 15%;
  }

  .articlesList {
    justify-content: center;
    flex-flow: column nowrap;
    padding: 15px 0;
  }

  .latestArticles {
    width: 100%;
    margin-bottom: 40px;
  }

  .footerList {
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 40px 0;
  }

  .footerDiv {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footerDiv:last-child {
    align-items: center;
    width: 100%;
  }

  .footerDiv a {
    padding: 15px 0;
  }

  .socialLinks {
    margin: 30px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    position: relative;
  }

  .topHeader {
    padding: 25px 0;
  }

  .navigation,
  .topHeader #requestBtn {
    display: none;
  }

  .navToggler {
    display: block;
  }

  .display {
    display: block;
    color: $Grayish-Blue;
  }

  .hide {
    display: none;
    color: $Grayish-Blue;
  }

  .mobileNav {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10% 5%;
  }

  .display {
    display: block;
  }

  .mobileNav ul {
    flex-flow: column nowrap;
    background: $White;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }

  .mobileNav li {
    width: 100%;
    text-align: center;
  }

  .nlink {
    text-decoration: none;
    text-align: center;
    color: $Grayish-Blue;
    display: block;
    padding: 15px;
    font-size: 18px;
  }

  .nlink.active {
    color: $Black;
  }

  .nlink:hover {
    color: $Black;
  }

  .overflow {
    overflow: hidden;
  }

  .digitalBanking {
    height: 500px;
  }

  .dgtBankInfo {
    margin: 0;
    padding: 0 3%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
  }

  .dgtBankInfo h1 {
    font-size: 44px;
  }

  .dgtBankInfo p {
    text-align: justify;
  }

  .dgtBankInfo #requestBtn {
    margin: 25px 0;
    display: block;
  }

  .dgtBankImg {
    background-position: 50% 30%;
    height: 550px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .digitalBanking {
    height: 550px;
  }

  .dgtBankImg img {
    width: auto;
    height: 650px;
    object-position: center;
    object-fit: cover;
    object-position: 50% -100px;
  }

  .chooseEbank {
    text-align: center;
  }

  .easyBank {
    flex-flow: row wrap;
    padding: 5% 0;
  }

  .easyBank h1 {
    font-size: 24px;
    margin: 20px 0;
  }

  .easyBank div {
    width: 48%;
    margin: 30px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .articlesList {
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .latestArticles {
    width: 48%;
    margin-bottom: 30px;
    align-self: stretch;
  }

  .footerList #requestBtn {
    display: block;
  }

  .footerList {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  .footerDiv {
    align-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 33%;
  }

  .footerDiv:last-child {
    margin-top: 20px;
  }

  .footerDiv p {
    text-align: center;
  }

  #svgLogo {
    margin: 0;
  }

  .footerDiv:first-child {
    align-items: center;
  }

  .socialLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .footerDiv a {
    padding: 5px 0;
  }

  .footerDiv:last-child {
    align-items: center;
    margin-bottom: 20px;
  }
}
