* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-size: $md-font-size;
  background: $Very-LightGray;
  font-family: "Public Sans", "Helvetica";
}

h1,
h2,
h3,
h4,
h5,
h5 {
  cursor: pointer;
  user-select: none;
}
